.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.dialog {

}
.dialog a{
    text-decoration: none;
    color: white;
}
.messages {

}
.message {

}